---
layout: default
title: My projects
id: projects
---

<div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-10 col-xs-12 projects">

                <h3 class="mb-3">My projects</h3>
                <hr>

                {% for project in site.projects reversed %}
                <div class="row justify-content-between no-gutters pl-2 mb-3">
                    <div class="col-lg-6 col-xs-12">
                            <p class="item-title">{{ project.title }}</p>
                            <p class="item-desc">{{ project.desc }}</p>
                    </div>
                    <div class="col-lg-5 col-xs-12">
                            <p class="item-location">{{ project.location }}</p>
                            <p class="item-datespan">{{ project.datespan }}</p>
                            {% for tag in project.tags %}
                                <span class="label-danger">{{ tag }}</span>
                            {% endfor %}
                    </div>
                </div>
                {% endfor %}

            </div>
        </div> 
</div>