---
layout: default
title: My resume
id: resume
---

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-xs-12 resume">

            <!-- Education -->
            <h3 class="mb-3">Education</h3>
            <hr>
            
            <div class="row justify-content-between no-gutters pl-2 mb-3">
                <div class="col-lg-6 col-xs-12">
                        <p class="resume-title">Preparation of a Master’s Degree in Engineering in Computer Science</p>
                </div>
                <div class="col-lg-5 col-xs-12">
                        <p class="resume-location">Polytech Nantes, Nantes, France</p>
                        <p class="resume-datespan">2015 - Present</p>
                </div>
            </div>

            <div class="row justify-content-between no-gutters pl-2  mb-3">
                <div class="col-lg-6 col-xs-12">
                        <p class="resume-title">BTEC Higher National Diploma in Computer Science</p>
                </div>
                <div class="col-lg-5 col-xs-12">
                        <p class="resume-location">University of Nantes, Nantes, France</p>
                        <p class="resume-datespan">2015</p>
                </div>
            </div>

            <div class="row justify-content-between no-gutters pl-2  mb-3">
                <div class="col-lg-6 col-xs-12">
                        <p class="resume-title">High School Diploma with a specialization in IT and Numerical Science</p>
                </div>
                <div class="col-lg-5 col-xs-12">
                        <p class="resume-location">Chevrollier High School, Angers, France</p>
                        <p class="resume-datespan">2013</p>
                </div>
            </div>

            
            <!-- Work experience -->
            <h3 class="mb-3">Work experience</h3>
            <hr>
            
            {% for job in site.jobs reversed %}
                <div class="row justify-content-between no-gutters pl-2 mb-3">
                    <div class="col-lg-6 col-xs-12">
                            <p class="resume-title">{{ job.title }}</p>
                            <p class="resume-desc">{{ job.desc }}</p>
                    </div>
                    <div class="col-lg-5 col-xs-12">
                            <p class="resume-location">{{ job.location }}</p>
                            <p class="resume-datespan">{{ job.datespan }}</p>
                            {% for tag in job.tags %}
                                <span class="label-danger">{{ tag }}</span>
                            {% endfor %}
                    </div>
                    
                </div>
            {% endfor %}
            
            <!-- Skills -->
            <h3 class="mb-3">Skills</h3>
            <hr>

            <div class="row justify-content-between no-gutters mb-3">
                <div class="col-lg-4 col-md-6 col-xs-12 skill">
                    <div class="php-chart .chart">
                        <h4>PHP</h4>
                    </div> 
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 skill">
                    <div class="html-css-chart .chart">
                        <h4>HTML/CSS</h4>
                    </div> 
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 skill">
                    <div class="js-chart .chart">
                        <h4>Javascript</h4>
                    </div> 
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 skill">
                    <div class="java-chart .chart">
                        <h4>Java</h4>
                    </div> 
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 skill">
                    <div class="c-chart .chart">
                        <h4>C</h4>
                    </div> 
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 skill">
                    <div class="git-chart .chart">
                        <h4>Git</h4>
                    </div> 
                </div>
            </div>
            
            <!-- Languages -->
            <h3 class="mb-3">Languages</h3>
            <hr>

            <div class="row justify-content-between no-gutters pl-2 mb-3">
                <div class="col-12">
                    <p class="resume-title">English</p>
                    <p class="resume-location">Fluent, able to fully comprehend and talk about elaborate topics (<a target="_blank" href="https://en.wikipedia.org/wiki/TOEIC">TOEIC</a> score of 990/990).</p>
                </div>
            </div>

            <div class="row justify-content-between no-gutters pl-2 mb-3">
                <div class="col-12">
                    <p class="resume-title">French</p>
                    <p class="resume-location">Native language.</p>
                </div>
            </div>
            
            <!-- Interests -->
            <h3 class="mb-3">Interests</h3>
            <hr>

            <div class="row justify-content-between no-gutters pl-2 mb-3">
                <div class="col-12">
                    <p class="resume-title">Drummer in an amateur band for 3 years</p>
                </div>
            </div>

            <div class="row justify-content-between no-gutters pl-2 mb-3">
                <div class="col-12">
                    <p class="resume-title">Music enthusiast</p>
                </div>
            </div>

            <div class="row justify-content-between no-gutters pl-2 mb-3">
                <div class="col-12">
                    <p class="resume-title">Video games and IT tech in general</p>
                </div>
            </div>

            <div class="row justify-content-between no-gutters pl-2 mb-3">
                <div class="col-12">
                    <p class="resume-title">Marvel and (especially) DC Comics admirer</p>
                </div>
            </div>

        </div>
    </div>
    
</div>